* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.woff);
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.woff2);
}

@font-face {
    font-family: 'Tinos', serif;
    src: url(../fonts/Tinos-Regular.woff);
}

@font-face {
    font-family: 'Tinos', serif;
    src: url(../fonts/Tinos-Regular.woff2);
}

.container {

    max-width: 1440px;
    margin: 0 auto;
    height: auto;

    .hero_bg {
        background-image: url(../images/hero_bg.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 800px;
        padding: 50px;

        nav {
            display: flex;
            align-items: center;

            .logo {
                margin-right: 270px;
            }

            .list {
                display: flex;
                gap: 25px;
                list-style-type: none;

                .list_link {
                    color: #fff;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-decoration: none;
                    margin-right: 34.7px;
                    transition: all ease 400ms;
                }

                .list_link:hover {
                    color: #D67E35;
                }
            }

            i {
                color: #fff;
                margin-right: 16px;
                transition: all ease 400ms;
            }

            i:hover {
                color: green;
            }

            .line {
                width: 1px;
                height: 51px;
                background: #fff;
                margin-right: 35px;
            }

            .infos {

                span {

                    margin-right: 50px;

                    i {
                        transition: all ease 400ms;
                    }

                    i:hover {
                        color: red;
                    }

                    .info_tel {
                        text-decoration: none;
                        color: #fff;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        transition: all ease 400ms;
                    }

                    .info_tel:hover {
                        color: #D67E35;
                    }



                }

                .info_text {
                    color: #fff;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    width: 160px;
                    height: 38px;
                    font-style: normal;
                    font-weight: 400;
                    transition: all ease 400ms;
                    line-height: normal;
                }

                .info_text:hover {
                    color: aqua;
                }


            }

            .nav_btn {
                color: #fff;
                border: none;
                width: 157px;
                height: 47px;
                background: #FF7400;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                transition: all ease 400ms;
            }

            .nav_btn:hover {
                background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
            }
        }


        .hero_wrapper {
            margin-top: 205px;
            margin-left: 130px;


            .little {
                margin-left: 30px;
                color: #D67E35;
                font-family: 'Tinos', serif;
                font-size: 50px;
                font-style: normal;
                font-weight: 400;
            }

            .big {
                width: 556px;
                height: 85px;
                color: #D67E35;
                font-family: 'Tinos', serif;
                font-size: 80px;
                font-style: normal;
                font-weight: 400;
            }

            .wrapper {
                display: flex;
                align-items: center;
                margin-top: 15px;

                .line2 {
                    margin-left: 95px;
                    margin-right: 10px;
                    width: 61px;
                    height: 2px;
                    background-color: #fff;
                }

                .text {

                    color: #fff;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-right: 10px;
                }

                .line3 {
                    width: 61px;
                    height: 2px;
                    background-color: #fff;
                }
            }

            .btn {
                margin-top: 21px;
                margin-left: 180px;
                width: 137px;
                height: 47px;
                color: #fff;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border: none;
                background: #FF7400;
                transition: all ease 400ms;
            }


            .btn:hover {
                background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
            }

        }

    }

    .about {

        .cards_wrapper {
            display: flex;
            padding: 0 90px;
            justify-content: space-between;
            align-items: center;
            margin-top: 124px;

            .card {
                width: 330px;
                height: 328px;
                box-shadow: 10px 10px 40px 20px #0000001A;
                background-color: #fff;
                padding-top: 48px;
                text-align: center;

                .card_img {
                    margin-bottom: 5px;
                }

                .card_title {
                    font-family: 'Tinos', sans-serif;
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 29.9px;
                    margin-bottom: 20px;

                    .text {
                        font-family: 'Tinos', sans-serif;
                        font-size: 26px;
                        font-weight: 400;
                        line-height: 29.9px;
                        color: #bc9060;
                    }
                }

                .card_text {
                    font-family: Tinos;
                    font-size: 23px;
                    font-weight: 400;
                    line-height: 29.9px;
                    color: #656363;
                }

            }
        }

        .history {
            margin-top: 145px;
            padding: 0 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .history_left {

                .history_left_title {
                    font-family: Tinos;
                    font-size: 54px;
                    font-weight: 400;
                    line-height: 62.09px;
                    margin-bottom: 25px;
                    text-align: center;

                    .text {
                        font-family: Tinos;
                        font-size: 54px;
                        font-weight: 400;
                        line-height: 62.09px;
                        color: #bc9060;
                    }

                }

                .history_left_text {
                    font-family: Open Sans;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23.79px;
                    text-align: center;
                    color: #656363;
                    width: 444px;
                }

            }

            .history_left_bottom {
                margin-top: 45px;

                .dishes {
                    padding: 0 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .info {

                        .number {
                            font-family: Open Sans;
                            font-size: 40px;
                            font-weight: 400;
                            line-height: 54.47px;
                            color: #bc9060;
                        }

                        .info_title {
                            font-family: Open Sans;
                            font-size: 21px;
                            font-weight: 400;
                            line-height: 27.24px;
                            text-align: center;
                        }
                    }
                }
            }

        }

        .order {
            display: flex;
            align-items: center;
            margin-top: 122px;
            width: 1343px;
            justify-content: space-between;
            height: 357px;
            padding: 45px 170px 0 100px;
            margin-left: -50px;
            background: url(../images/order_bg.png);

            .order_left {


                .order_left_title {
                    font-family: Tinos;
                    font-size: 45px;
                    font-weight: 400;
                    line-height: 59.79px;
                    color: #D67E34;
                    margin-bottom: 20px;
                }

                .order_left_text {
                    font-family: Open Sans;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32.68px;
                    color: white;
                }
            }

            .order_right {

                .order_right_btn {
                    width: 157px;
                    height: 47px;
                    background-color: #FF7400;
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 19.07px;
                    text-align: center;
                    border: none;
                    color: white;
                }
            }
        }
    }

    .menu {
        padding: 0 40px;
        margin-top: 140px;

        &_title {
            font-family: Tinos;
            font-size: 54px;
            font-weight: 400;
            line-height: 62.09px;
            text-align: center;
            margin-bottom: 145px;


            span {
                font-family: Tinos;
                font-size: 54px;
                font-weight: 400;
                line-height: 62.09px;
                color: #D67E34;
            }
        }

        .hamburger {
            display: flex;
            justify-content: space-between;



            &_right {
                flex-direction: column;
                row-gap: 27px;
                display: flex;

                &-menu {
                    display: flex;
                    align-items: center;


                    &-text {
                        font-family: Tinos;
                        font-size: 26px;
                        font-weight: 400;
                        margin-left: 30px;
                        line-height: 29.9px;
                        margin-right: 10px;
                    }

                    &-line {
                        width: 204px;
                        height: 1px;
                        border: 1px dashed #000000;
                        margin-right: 11px;
                    }

                    &-price {
                        font-family: Tinos;
                        font-size: 26px;
                        font-weight: 400;
                        line-height: 29.9px;
                    }
                }
            }
        }
    }

    .dish {
        background: url(../images/dishes.png);
        margin-top: 150px;
        height: 1036px;
        margin-left: -50px;
        width: 1343px;
        padding: 100px 90px 0 90px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .dish_title {
            font-family: Tinos;
            font-size: 54px;
            font-weight: 400;
            line-height: 62.09px;
            color: #fff;
            margin-bottom: 140px;
            text-align: center;
        }

        .cards {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .card {
                width: 350px;
                height: 510px;
                background-color: #fff;

                .text_wrapper {
                    width: 124px;
                    height: 36px;
                    background-color: #D67E34;

                    .text {
                        font-family: Open Sans;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 17.7px;
                        padding: 10px;
                        text-align: center;
                        position: relative;
                        width: fit-content;
                    }
                }

                .img_wrapper {
                    position: relative;

                    img {
                        position: relative;
                        margin-top: 40px;
                        margin-left: 62px;
                    }

                    .price {
                        left: 56%;
                        top: 63%;
                        position: absolute;
                        text-align: center;
                        padding: 24px 0 0 0;
                        width: 100px;
                        background-color: #D67E34;
                        border: 7px solid #FFFFFF;
                        border-radius: 50%;
                        height: 100px;
                        font-family: Cookie;
                        font-size: 30px;
                        font-weight: 400;
                        line-height: 33.27px;
                        color: white;
                    }
                }

                .card_title {
                    font-family: Tinos;
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 29.9px;
                    text-align: center;
                    margin-top: 10px;
                    margin-bottom: 17px;
                }

                .card_text {
                    font-family: Open Sans;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 21.79px;
                    text-align: center;
                }

                .card_btn {
                    width: 220px;
                    height: 50px;
                    box-shadow: 5px 5px 10px 0px #00000040;
                    background: #D67E34;
                    border: none;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 21.79px;
                    color: #fff;
                    margin-left: 65px;
                    margin-top: 20px;
                }
            }
        }
    }

    .comments {
        width: 1343px;
        height: 550px;
        padding: 104px 0 0 0;
        margin-left: -50px;
        background-color: #E5E5E5;

        .comments_text {
            width: 920px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 20px;
            font-family: Open Sans;
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
            line-height: 27.24px;
        }

        .comments_img {
            width: 100px;
            height: 100px;
            margin-left: 620px;
            margin-bottom: 16px;
        }

        .visitor {
            font-family: Open Sans;
            font-size: 20px;
            font-weight: 600;
            line-height: 27.24px;
            text-align: center;
            margin-bottom: 10px;
        }

        .name {
            font-family: Open Sans;
            font-size: 20px;
            font-weight: 400;
            line-height: 27.24px;
            text-align: center;

        }
    }

    .galleries {
        position: relative;
        margin-left: -50px;
        padding-left: 90px;
        padding-top: 100px;

        .rec1 {
            background-color: red;
            width: 30px;
            height: 100px;
            margin-left: -90px;
            margin-right: 30px;
        }

        .rec2 {
            background-color: red;
            width: 30px;
            height: 100px;
            position: absolute;
            left: 101.5%;
        }


        .gallery_title {
            font-family: Tinos;
            font-size: 54px;
            font-weight: 400;
            line-height: 62.09px;
            text-align: center;
            margin-bottom: 60px;


            span {
                color: #D67E34;
            }
        }

        .gallery {
            display: flex;
            flex-wrap: wrap;
            row-gap: 30px;
            column-gap: 30px;
        }
    }
}