* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../fonts/OpenSans-VariableFont_wdth\,wght.woff);
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../fonts/OpenSans-VariableFont_wdth\,wght.woff2);
}
@font-face {
  font-family: "Tinos", serif;
  src: url(../fonts/Tinos-Regular.woff);
}
@font-face {
  font-family: "Tinos", serif;
  src: url(../fonts/Tinos-Regular.woff2);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
}
.container .hero_bg {
  background-image: url(../images/hero_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  padding: 50px;
}
.container .hero_bg nav {
  display: flex;
  align-items: center;
}
.container .hero_bg nav .logo {
  margin-right: 270px;
}
.container .hero_bg nav .list {
  display: flex;
  gap: 25px;
  list-style-type: none;
}
.container .hero_bg nav .list .list_link {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-right: 34.7px;
  transition: all ease 400ms;
}
.container .hero_bg nav .list .list_link:hover {
  color: #D67E35;
}
.container .hero_bg nav i {
  color: #fff;
  margin-right: 16px;
  transition: all ease 400ms;
}
.container .hero_bg nav i:hover {
  color: green;
}
.container .hero_bg nav .line {
  width: 1px;
  height: 51px;
  background: #fff;
  margin-right: 35px;
}
.container .hero_bg nav .infos span {
  margin-right: 50px;
}
.container .hero_bg nav .infos span i {
  transition: all ease 400ms;
}
.container .hero_bg nav .infos span i:hover {
  color: red;
}
.container .hero_bg nav .infos span .info_tel {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all ease 400ms;
}
.container .hero_bg nav .infos span .info_tel:hover {
  color: #D67E35;
}
.container .hero_bg nav .infos .info_text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 160px;
  height: 38px;
  font-style: normal;
  font-weight: 400;
  transition: all ease 400ms;
  line-height: normal;
}
.container .hero_bg nav .infos .info_text:hover {
  color: aqua;
}
.container .hero_bg nav .nav_btn {
  color: #fff;
  border: none;
  width: 157px;
  height: 47px;
  background: #FF7400;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all ease 400ms;
}
.container .hero_bg nav .nav_btn:hover {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
.container .hero_bg .hero_wrapper {
  margin-top: 205px;
  margin-left: 130px;
}
.container .hero_bg .hero_wrapper .little {
  margin-left: 30px;
  color: #D67E35;
  font-family: "Tinos", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}
.container .hero_bg .hero_wrapper .big {
  width: 556px;
  height: 85px;
  color: #D67E35;
  font-family: "Tinos", serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
}
.container .hero_bg .hero_wrapper .wrapper {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.container .hero_bg .hero_wrapper .wrapper .line2 {
  margin-left: 95px;
  margin-right: 10px;
  width: 61px;
  height: 2px;
  background-color: #fff;
}
.container .hero_bg .hero_wrapper .wrapper .text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}
.container .hero_bg .hero_wrapper .wrapper .line3 {
  width: 61px;
  height: 2px;
  background-color: #fff;
}
.container .hero_bg .hero_wrapper .btn {
  margin-top: 21px;
  margin-left: 180px;
  width: 137px;
  height: 47px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background: #FF7400;
  transition: all ease 400ms;
}
.container .hero_bg .hero_wrapper .btn:hover {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
.container .about .cards_wrapper {
  display: flex;
  padding: 0 90px;
  justify-content: space-between;
  align-items: center;
  margin-top: 124px;
}
.container .about .cards_wrapper .card {
  width: 330px;
  height: 328px;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1019607843);
  background-color: #fff;
  padding-top: 48px;
  text-align: center;
}
.container .about .cards_wrapper .card .card_img {
  margin-bottom: 5px;
}
.container .about .cards_wrapper .card .card_title {
  font-family: "Tinos", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29.9px;
  margin-bottom: 20px;
}
.container .about .cards_wrapper .card .card_title .text {
  font-family: "Tinos", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 29.9px;
  color: #bc9060;
}
.container .about .cards_wrapper .card .card_text {
  font-family: Tinos;
  font-size: 23px;
  font-weight: 400;
  line-height: 29.9px;
  color: #656363;
}
.container .about .history {
  margin-top: 145px;
  padding: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .about .history .history_left .history_left_title {
  font-family: Tinos;
  font-size: 54px;
  font-weight: 400;
  line-height: 62.09px;
  margin-bottom: 25px;
  text-align: center;
}
.container .about .history .history_left .history_left_title .text {
  font-family: Tinos;
  font-size: 54px;
  font-weight: 400;
  line-height: 62.09px;
  color: #bc9060;
}
.container .about .history .history_left .history_left_text {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.79px;
  text-align: center;
  color: #656363;
  width: 444px;
}
.container .about .history .history_left_bottom {
  margin-top: 45px;
}
.container .about .history .history_left_bottom .dishes {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .about .history .history_left_bottom .dishes .info .number {
  font-family: Open Sans;
  font-size: 40px;
  font-weight: 400;
  line-height: 54.47px;
  color: #bc9060;
}
.container .about .history .history_left_bottom .dishes .info .info_title {
  font-family: Open Sans;
  font-size: 21px;
  font-weight: 400;
  line-height: 27.24px;
  text-align: center;
}
.container .about .order {
  display: flex;
  align-items: center;
  margin-top: 122px;
  width: 1343px;
  justify-content: space-between;
  height: 357px;
  padding: 80px 170px 0 100px;
  margin-left: -50px;
  background: url(../images/order_bg.png);
}
.container .about .order .order_left .order_left_title {
  font-family: Tinos;
  font-size: 45px;
  font-weight: 400;
  line-height: 59.79px;
  color: #D67E34;
  margin-bottom: 20px;
}
.container .about .order .order_left .order_left_text {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  color: white;
}
.container .about .order .order_right .order_right_btn {
  width: 157px;
  height: 47px;
  background-color: #FF7400;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
  text-align: center;
  border: none;
  color: white;
}/*# sourceMappingURL=style.css.map */